{{#if resume.projects.length}}
  <div id='projects' class='section-block'>
    <div class='section-intro'>
      <div class='section-name'>
        <span>PROJECTS</span>
      </div>
      <div class='section-intro-line'></div>
    </div>
    <div class='section-content'>
      <ul class='highlights'>
        {{#each resume.projects}}
          <li>
            {{#if url}}
              <span class='title'><a href="{{url}}">{{name}}</a>: </span>
            {{else}}
              <span class='title'>{{name}}: </span>
            {{/if}}
            {{#if highlights.length}}
              {{#each highlights}}
                {{!-- formatting is expecting resume.json highlights to not have end punctuation --}}
                <span>{{.}}</span>.{{#unless @last}} {{/unless}}
              {{/each}}
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class='section-line'></div>
{{/if}}
