{{#if resume.work.length}}
  <div id='workBlock' class='sectionBlock'>
    <div class='sectionIntro'>
      <div class='sectionName'>
        <span>EXPERIENCE</span>
      </div>
      <div class='sectionIntroLine'></div>
    </div>
    <div class='sectionContent'>
      {{#each resume.work}}
        <div class='jobBlock'>
          <div class='blockHeader'>
            <span class='title'>{{position}}</span>
            <span class='name'>{{name}}</span>
            <span class='date'>
              <time datetime="{{startDate}}">{{MONTH_YEAR startDate}}</time> &mdash;
              {{#if endDate}}<time datetime="{{endDate}}">{{MONTH_YEAR endDate}}</time>{{else}}Present{{/if}}
            </span>
          </div>

          <div class='displayNone'>
            {{!-- note: this is to enable any automated parsing of content --}}
            {{#if location}}
              <span class='location'>{{location}}</span>
            {{/if}}
            {{#if website}}
              <span class='website'><a href='{{website}}'>{{website}}</a></span>
            {{/if}}
          </div>

          {{#if highlights.length}}
            <ul class='highlights'>
              {{#each highlights}}
                <li>{{.}}</li>
              {{/each}}
            </ul>
          {{/if}}
          {{#unless @last}}
            <div class='separator'></div>
          {{/unless}}
        </div>
      {{/each}}
    </div>
  </div>
  <div class='sectionLine'></div>
{{/if}}
